<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.edensiometer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>eDensiometer</name>
    <description>
        A mobile application that works as a digital densiometer.
    </description>
    <author email="nikp29@gmail.com" href="http://cordova.io">
        Billy Pierce and Nikhil Patel
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-camera" spec="^4.0.3">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="To analyze your canopy cover photos" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="To analyze your canopy cover photos" />
    </plugin>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-camera-preview" spec="https://github.com/cordova-plugin-camera-preview/cordova-plugin-camera-preview.git" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="^7.1.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
