/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html { 
    overflow: hidden; 
}
body {
    overflow: hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:18px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;   
}

/* Portrait layout (default) */
.app {
    display: block;
    position: fixed;          /* position in the center of the screen */
    width: 100%;
    height:100%;
    text-align:center;
}

.app-half {
    display: block;
    height: 50%;
    width: 100%;

}

img {
    display: none;
    padding: 10%;
    height: 80%;
    margin: auto;
}
/* Landscape layout (with min-width) */

h1 {
    font-size:8vw;
    font-weight: 500;
    margin:0px;
    overflow:hidden;
    margin-bottom:1em;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:5vw;
    margin:0px 30px;
    padding:5px 5px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#restart-button {
    background-color:#333333;
    display: none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
    margin-bottom:2em;
    display: block;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
table {
    width: 100%;
}
#navbar-title {
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700!important;
    display: block;
}
.nav-button {
    text-align: center;
    color: #333333;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 90%;
    font-family: Helvetica;
    font-weight: 400;
    display: block;
}
#camera-view {
    display: block;
    width: 100%;
    height: 100%;
}